<div class="menu">
    <div class="title">Menu</div>
    <ul class="nav">
        
        <li class="flex flex1"><a href="/admin/logout/"><button class="logout_btn> <i class="fas fa-sign-out-alt">Log Out</i></button></a></li>
        <li><a href="#">Mobiles, Computers</a></li>
        <li><a href="#">TV, Appliances, Electronics</a></li>
        <li><a href="#">Men's Fashion</a></li>
        <li><a href="#">Women's Fashion</a></li>
        <li><a href="#">Home, Kitchen, Pets</a></li>
        <li><a href="#">Beauty, Health, Grocery</a></li>
        <li><a href="#">Sports, Fitness, Bags, Luggage</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Toys, Baby Products, Kids Fashion</a></li>
    </ul>
</div>