<%- include('partials/header'); %>
<header>
  <div class="header_background flex">
    <div class="logo flex"></div>
  </div>
</header>
<main class="article_box">
  <div class="background">
    <div class="main_page">
      <h1 class="heading">
        Log in
      </h1>
      <form action="/admin/login" method="POST">
        <input type="email" placeholder="Email" name="email" />
        <input type="password" name="password" id="" placeholder="Password" />
        <aside class="section soft">
          <input
            class="soft-ui rounded-square logBtn"
            type="submit"
            value="LOGIN"
          />
        </aside>
      </form>
      <div class="flex">
        <a class="soft-ui rounded-square logBtn" href="/admin/register"
          >Register</a
        >
        <a class="soft-ui rounded-square logBtn" href="/auth/github/"
          ><i class="fab fa-github"></i> Login with Github</a
        >
      </div>
      <h4 class="center_text">CHECK if you are verified!</h4>
    </div>
  </div>
</main>
<%- include('partials/footer'); %>
