<%- include('partials/header'); %>
<header>
  <div class="header_background flex">
    <div class="logo flex"></div>
  </div>
</header>
<main class="article_box">
  <form action="/admin/register" method="POST">
    
    <h2 class="Sign Up">Register</h2>

    <input type="text" placeholder="Full Name" name="name" />

    <input type="email" placeholder="Email" name="email" />
    <input type="text" placeholder="Username" name="username" />

    <input type="password" name="password" id="" placeholder="Password" />
    <h3>Upload an Image</h3>
    <input type="file" name="image" id="" value="Upload">


    <input
      class="soft-ui rounded-square update_btn"
      type="submit"
      value="Register"
    />

    <a href="/articles/login">
      <button class="soft-ui rounded-square update_btn">Login</button></a
    >
  </form>

  <a href="/admin/login">Login by Email</a>
</main>
<%- include('partials/footer'); %>
