<%- include('partials/header'); %>
</header>
<main class="article_box">
  <div class="background">
    <div class="main_page">
      <h1 class="heading">
        Admin Log in
      </h1>
      <a class="soft-ui rounded-square logBtn" href="/auth/github/"><i class="fab fa-github"></i> Login with Github</a>
    </div>
  </div>
</main>
<%- include('partials/footer'); %>
