<%- include('partials/header'); %>

    <h2>Welcome to Shopping Cart</h2>
    <div class="right_side">
        <button><a href="/users/shoppingBasket/"> Shopping Cart </a></button>
    </div>
      <div class="flex">
          <a class="soft-ui rounded-square logBtn" href="/users/register">Register</a>
          <a class="soft-ui rounded-square logBtn" href="users/login"><i class="fas fa-at"></i> Login by Email</a>
      </div>
    </div>

  <%- include('partials/footer'); %>