<%- include('partials/header'); %>

<main>
    <div class="login">
        <h1>Login</h1>
        <form method="POST" action="/users/login">
            <input type="email" name="email" placeholder="Email" required="required" />
            <input type="password" name="password" placeholder="Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </form>
        <button class="btn btn-primary btn-block btn-large"><a href="/users/register">Register</a></button>
    </div>
</main>
<%- include('partials/footer'); %>
