<%- include('partials/header'); %>
<%- include('partials/navbar'); %>
<main class="article_box">
  <form action="/users/register" method="POST">
    <h2 class="Sign Up">Register</h2>

    <input type="text" placeholder="Full Name" name="name" />
    <input type="email" placeholder="Email" name="email" />
    <input type="text" placeholder="Username" name="username" />
    <input type="password" name="password" id="" placeholder="Password" />

    <input class="soft-ui rounded-square update_btn" type="submit" value="Register" />

  </form>
  <a href="/users/login"> <button class="soft-ui rounded-square update_btn">Login</button></a>

</main>
<%- include('partials/footer'); %>
