<%- include('partials/header'); %>
<main>
  <div class="login">
  <h1>Register</h1>
    <form method="POST" action="/users/register">
    <input type="text" placeholder="Full Name" name="name" required="required"/>
    <input type="email" placeholder="Email" name="email" required="required" />
    <input type="text" placeholder="Username" name="username" required="required"/>
    <input type="password" name="password" id="" placeholder="Password" required="required"/>

    <input class="btn btn-primary btn-block btn-large" type="submit" value="Register" />

  </form>
  <a href="/users/login"> <button class="btn btn-primary btn-block btn-large">Login</button></a>
</div>
</main>
<%- include('partials/footer'); %>
