body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-boxB;
}
* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #543456;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.flex1 {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  /* flex-wrap: wrap; */
}
.flex2 {
  justify-content: space-between;
}
/*  */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  /* max-height: 100vh; */
  line-height: 1.25;
  background: #ebebe8;
}

/* header */
.side_logo {
  width: 100px;
}

a {
  text-decoration: none;
  color: rgb(54, 26, 23);
  outline: 0;
}

.background {
  height: 100vh;
  
}
/* 
body {
  
} */

h1 {
  font-size: 2.5rem;
}

.heading {
  font-weight: bold;
  font-size: 54px;
  color: #4b2f07cf;
}
.article_box {
  max-width: 1200px;
  border: 2px solid grey;
  border-radius: 5px;
  box-shadow:  -3px -3px 7px #ffffffb2,
  3px 3px 5px rgba(94, 104, 121,0.3);
  /* background: #e33838; */
  /* margin: 50px 80px; */
  padding: 10px;
}
.review_card {
  width: 1200px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
.review_btn {
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #f1f3f6;
  box-shadow: -3px -3px 7px #ffffffb2,
  3px 3px 5px rgba(94, 104, 121,0.3);
  margin-left: -50%;
  padding: 5px 8px;
  border-radius: 10%;
}
.review_btn:active, .review_btn.active {
  box-shadow: -3px -3px 7px #ffffffb2 inset,
  3px 3px 5px rgba(94,104,121,0.3) inset;
}

}
.main_page {
  height: 100%;
  margin-bottom: 10px;
  
}
button, .commentBtn {
  border: none;
  outline: none;
  cursor: pointer;
  background: #f1f3f6;
  box-shadow: -3px -3px 7px #ffffffb2,
  3px 3px 5px rgba(94, 104, 121,0.3);
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 10%;
}
button:active, button.active {
  box-shadow: -3px -3px 7px #ffffffb2 inset,
  3px 3px 5px rgba(94,104,121,0.3) inset;
}
/* button:hover {
  color: #5b47a4;
  border: 2px solid #122f13;
} */
.tags {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.tags_single {
  border: 2px solid gray;
  background: darkgray;
  color: black;
  padding: 5px;
  margin-right: 5px;
}
h3 {
  color: #004324;
  width: auto;
}
.title {
  text-align: left;
  color: #004324;
  width: auto;
}

h2, p {
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  color: #4b610d;
  padding: 20px;
}
.center_text {
  text-align: center;
  font-weight: bold;
}
.right_side {
  text-align: right;
  margin-right: 50px;
}
.comments {
  display: block;
  border: 5px double #842e2e;
  background: #a0c9438f;
  width: 100%;
  padding: 10px 0;
  border-radius:10px;
}
.comment {
  padding: 10px;
  font-size: .75rem;
  color: #0f34bc;
  font-weight: bold;
  
}

.comment_author {
  font-size: .55rem;
  color: #94167d;
  font-style: italic;
  text-align: left;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}
.comment_box {
  width: 30%;
  border: 4px double #4b610d;
  margin: 10px;
  border-radius: 10px;
}

.comment_options {
  margin-left: 12px;
  text-align: left;
}

.fas {
  display: flex;
  justify-content: flex-start;
}

.soft-ui {
  border: none;
  outline: none;
  cursor: pointer;
  background: #f1f3f6;
  box-shadow: -3px -3px 7px #ffffffb2,
  3px 3px 5px rgba(94, 104, 121,0.3);
  margin-left: 20px;
   
}

.soft-ui:active, .soft-ui.active{
  box-shadow: -3px -3px 7px #ffffffb2 inset,
  3px 3px 5px rgba(94,104,121,0.3) inset;
  
}
.section {
  margin-bottom: 20px;
}
.soft-ui.rounded-square {
  /* width: 120px; */
  height: 35px;
  border-radius: 5px;
  margin: 10px;
}
.soft-ui.like {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.update_btn {
  text-decoration: none;
  color: teal;
  outline: 0;
  font-weight: bold;
  width: 90px;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout button {
  /* margin: 10px;
  padding: 10px; */
  border: 0;
  background: transparent;
}
.fa-star {
  color: goldenrod; 
}
.fa-chevron-circle-left {
  font-size: 2rem;
}
.logout_btn {
	box-shadow: 0px -5px 4px -2px #15d98b;
	background-color:transparent;
	border-radius:42px;
	border:2px solid #139287;
	display:inline-block;
	cursor:pointer;
	color:#1e4949;
	font-family:Arial;
	font-size:17px;
	padding:4px 10px;
	text-decoration:none;
  text-shadow:0px 0px 0px #194213;
  width: 100px;
  height: 20px;
}
.logout_btn:hover {
  background-color:#70c257b2; 
}
.create_btn {
  text-decoration: none;
color: teal;
outline: 0;
font-weight: bold;
}
.email {
  text-align: left;
  margin: 0;
  color:#1f3f15e8; 
}

.logBtn {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center; 
  padding: 20px;
  text-decoration: none;
  color: teal;
  outline: 0;
}
.create_form {
  border: 2px solid grey;
  margin-top: 25px;
  background: rgb(210, 248, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner_create {
  text-align: left;
  width: 50%;
  background: transparent;
}

.input_fields {
  width: 100%;
}
input, textarea {
  margin: 10px 20px;
  width: 400px;
}


.btn_size {
  padding: 10px;
  width: 120px;
  height: 35px !important ;
}
textarea {
  padding: 0 8px;
}

.slider_head {
  background: #232F3E;
  color: rgb(224, 217, 217);
  width: 100px;
}

.profile_section {
  border: 2px solid #741331;
  background: #eee;  
}
.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #e33838;
}

body {
  /* margin: 0; */
  font-family: 'Roboto';
  background-color:#EEF0F0;
  color:#121;
  height: 100%;
}

.menu {
  font-weight: 100;
  background: rgba(35, 47, 62, 0.753);
  width: 150px;
  height: 93%;
  padding-left: 50px;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
  right: -130px;
  transition: all .3s;
  -webkit-transition: all .3s;
  color: rgb(0, 0, 0);
  font-weight: 400;
  
}

.menu:hover, .menu:focus {
  transform: translate3d(-130px, 0, 0);
  animation-timing-function: 1s ease-in
}

.menu .title {
  top: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(270deg);
  left: 10px;
  font-weight: 800;
  font-size: 15px
}

.menu .nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: 100
}

.menu .nav li {
  padding-bottom: 20px;
  list-style-type: none;
  font-weight: bold;
}

.menu .nav li a {
  display: block;
  text-decoration: none;
  /* color: #0f34bc; */
  transition: all .3s;
  -webkit-transition: all .3s
}

.menu .nav li a:hover { color: #aaa }

.intro {
  position: absolute;
  top: 30%;
  width: 40%;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 45px;
  text-align: center;
  font-family: 'Muli-ExtraLightItalic'
}

.product_info {
  width: 300px;
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background: #acddcfa1;
}
.product {
  width: 10rem;
  height: 10rem;
  padding: 5px;
  border-radius: 20%;
}

.product_image {
  width: 300px;
  height: 300px;
  border-radius: 10%;

}
.updateBtn {
  width: 100px;
  padding: 10px;
  height: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ */
/* Review CSS */

@import url(
  https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

* {
  /* margin: 0;
  padding: 0; */
  font-family: roboto;
}

/* body {
  background: #000;
} */

.cont {
  width: 93%;
  max-width: 400px;
  text-align: center;
  margin: 4% auto;
  padding: 30px 0;
  background: #111;
  color: #eee;
  border-radius: 5px;
  border: thin solid #444;
  overflow: hidden;
}

hr {
  margin: 20px;
  border: none;
  border-bottom: thin solid rgba(255, 255, 255, 0.1);
}

div.title {
  font-size: 2em;
}

h1 span {
  font-weight: 300;
  color: #fd4;
}

div.stars {
  width: 900px;
  display: inline-block;
}
.star_rating {
  width: 350px;
}
input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all 0.2s;
}

input.star:checked ~ label.star:before {
  content: "\f005";
  color: rgb(231, 193, 24);
  transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
  color: rgb(251, 225, 27);
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: "\f006";
  font-family: FontAwesome;
}

.rev-box {
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all 0.25s;
  padding: 0 10px;
}

textarea.review {
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: #eee;
  text-align: left;
}

label.review {
  display: block;
  transition: opacity 0.25s;
}

input.star:checked ~ .rev-box {
  height: 125px;
  /* overflow: visible; */
}



/* html.open,
body.open {
  height: 100%;
  overflow: hidden;
} */

.total_users.open {
  height: 100%;
  overflow: hidden;
}

/* html {
  padding: 40px;
  font-size: 62.5%;
} */

.all_users_HTML {
  padding: 40px;
  font-size: 62.5%;
}

.total_users {
  padding: 20px;
  background-color: #5bb9b8;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

main {
  background-color: #2c3845;
}

h1 {
  text-align: center;
  font-weight: 300;
}

table {
  display: block;
}

tr,
td,
tbody,
tfoot {
  display: block;
}

thead {
  display: none;
}

tr {
  padding-bottom: 10px;
}

td {
  padding: 10px 10px 0;
  text-align: center;
}
td:before {
  content: attr(data-title);
  color: #7a91aa;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-right: 10px;
  display: block;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: 700;
}

thead th {
  background-color: #202932;
  color: #fff;
  border: 1px solid #202932;
}

tfoot th {
  display: block;
  padding: 10px;
  text-align: center;
  color: #b8c4d2;
}

.button {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  background-color: #4b908f;
}

.select {
  padding-bottom: 20px;
  border-bottom: 1px solid #28333f;
}
.select:before {
  display: none;
}

.detail {
  background-color: #bd2a4e;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.detail.open {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.detail-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 500px;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  font-size: 2.2rem;
  font-weight: 300;
}

dd {
  margin: 0 0 40px 0;
  font-size: 1.8rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #ac2647;
  box-shadow: 0 1px 0 #c52c51;
}

.close {
  background: none;
  padding: 18px;
  color: #fff;
  font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  line-height: 1;
  font-size: 1.8rem;
  position: fixed;
  right: 40px;
  top: 20px;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.close:hover, .close:focus {
  background-color: #a82545;
  border: 1px solid #a82545;
}

@media (min-width: 460px) {
  td {
    text-align: left;
  }
  td:before {
    display: inline-block;
    text-align: right;
    width: 140px;
  }

  .select {
    padding-left: 160px;
  }
}
@media (min-width: 720px) {
  table {
    display: table;
  }

  tr {
    display: table-row;
  }

  td,
  th {
    display: table-cell;
  }

  tbody {
    display: table-row-group;
  }

  thead {
    display: table-header-group;
  }

  tfoot {
    display: table-footer-group;
  }

  td {
    border: 1px solid #28333f;
  }
  td:before {
    display: none;
  }

  td,
  th {
    padding: 10px;
  }

  tr:nth-child(2n + 2) td {
    background-color: #242e39;
  }

  tfoot th {
    display: table-cell;
  }

  .select {
    padding: 10px;
  }
}
